@media only screen and (max-width: 850px) {
  .input {
     font-size: .9rem;
  }
  nav {
     font-size: 1rem;
  }
   section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 30px;
      height: 400vh;
      display: grid;
      grid-template-columns: auto;
      box-shadow: 1px 1px 10px 2px #9b59b6 ;
   }

}
@media only screen and (min-width: 851px) {
  .input {
     font-size: .9rem;
  }
  nav {
     font-size: 1rem;
  }
   section {
      margin-top: 30px;
      margin-left: -10px;
      display: flex;
      justify-content: space-around;
      width: 100vw;
      height: 35cm;
      display: grid;
      grid-template-columns: auto auto;
      box-shadow: 1px 1px 10px 2px #9b59b6 ;
   }

}

@media only screen and (min-width: 1200px) {
  .input {
     font-size: .9rem;
  }
  nav {
     font-size: 1rem;
  }
   section {
      margin: 3%;
      margin-left: 10%;
      width: 78vw;
      height: 20cm;
      display: grid;
      box-shadow: -4px -5px 15px 3px #9b59b6;
      background-color: transparent;
      border-radius: 10px;
      padding: 15px;
      grid-template-columns: auto auto auto;
   }

}

